.footer{
  background: $home;
  color: $yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 5px;
  &.footer-1 {
    display: none;
    @include tablet() {
      display: block;
    }
  }
  
  &__text{
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 900;
  }
  address {
    font-size: 13px;
    margin: 12px 0 7px 0;
    font-weight: 400;
  }
  p {
    margin: 7px 0 0 0 ;
    font-size: 13px;
    font-weight: 400;
    span {
      display: inline-block; 
      margin: 0 5px;
    }
  }
}
