.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 11px;
  font-family: Montserrat;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  z-index: 999;
  $back-mb: #F5F5F5;

  .container {
    .logo {
      margin-right: 10px;
      padding: 10px 0;

      img {
        width: 95px;
      }
    }

    .menu-list {
      text-transform: uppercase;
      display: flex;
      flex-grow: 1;
      .nav-item.overlay{
        &::after{
          display: none!important;
        }
      }
      .nav--child {
        display: flex;
        flex-wrap: wrap;

        .nav-links {
          flex: 0 0 50%;
          padding: 2px 7px;
          @include tablet() {
            padding: 2px 0;
          }
        }
      }

      .cols {
        padding: 10px 0;
        border-left: 1px solid #f3f3f3;
        position: relative;

        &:hover {
          background: #fafafa;
        }


        .nav-link.parent:hover::after {
          content: "";
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          position: absolute;
          width: 0;
          height: 0;
          border-top: 4px solid transparent;
          border-right: 6px solid $yellow;
          border-bottom: 4px solid transparent;
          @include tablet() {
            display: none;
          }
        }

        @include tablet() {
          & {
            padding: 0;
            border: none;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            .nav {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-around;
            }

            .nav-item.active {
              &::after {
                content: "";
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-bottom: 12px solid $back-mb;
                border-right: 8px solid transparent;
              }

              .nav-sub-item {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                line-height: 1;
                padding: 5px 15px;

                .cols {
                  box-shadow: none;
                  display: inline-block;
                  padding: 0 15px;

                  &:nth-child(n + 2) {
                    border-left: 2px solid $yellow;
                  }
                }

                height: 40px;

                .nav-link {
                  color: $yellow;
                 
                }
              }
            }
          }
        }
      }

      @for $i from 1 through 4 {
        .nav-item:nth-child(#{$i}) {
          .nav {
            margin-top: 20px * ($i - 1);
          }
        }
      }

      .nav-item {
        @include tablet() {
          position: relative;
          .nav-sub-item {
            width: 100vw;
            position: fixed;
            /* left: 100%; */
            left: 0;
            top: 47px;
            background: #F5F5F5;
            //display: block;
            padding-left: 10px;
            padding-right: 10px;
            .cols {
              display: inline-block;
              /* Xám nhạt menu */
              width: auto;

              box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
            }

            .nav {
              display: inline-block;
              margin-top: 0 !important;
              width: auto;
              padding-left: 15px;
              margin-left: 15px;
              border-left: 2px solid #E1BA84;
              a {
                font-size: 10px;
              }
              &:first-child {
                padding-left: 0;
                margin-left: 0;
                border-left: none;
              }
             
              
            }
          }
        }

        &:hover {
          .nav-sub-item {
            @media (min-width: 991px) {
              display: flex;
            }
          }
        }
      }

      .nav-sub-item {
        position: absolute;
        left: 100%;
        top: 0;
        height: 100px;
        background: $white;
        display: none;

        .nav-link {
          white-space: nowrap;
        }
      }

      .nav-link {
        padding: 2px 12px;
        color: $primary;
        position: relative;
        white-space: nowrap;
        text-decoration: none;
        cursor: pointer;
        @include tablet() {
          padding: 2px 0;
        }
        @media (max-width: 576px) {
          font-size: 9px;
        }

        &.active, &:hover {
          color: $yellow;
          text-decoration: none;
        }

      }

      .list-item {
        display: flex;

        .inner-cols {
          position: absolute;
          top: 0;
          left: 100%;
          min-height: 100px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 15px;
          margin-left: 15px;
          border-left: 1px solid #f3f3f3;

          a {
            display: block;
            text-decoration: none;

          }
        }

        a {
          padding: 2px 0;
          color: $primary;
          white-space: nowrap;

          &:hover {
            text-decoration: none;
            color: $yellow;
          }
        }
      }
    }

    .list-social {
      padding-left: 15px;
      list-style: none;
      display: flex;
      margin-bottom: 0;

      li {
        margin-left: 15px;

        a {
          width: 20px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          background: $primary;
          color: #fff;
          display: inline-block;
          border-radius: 50%;

          &:hover {
            background: $yellow;
          }
        }
      }
    }

    .languages {
      @include tablet() {
        &:hover {
          .dropdown-menu {
            display: block;
          }
        }
      }
      .dropdown-toggle {
        position: relative;
        height: 100%;

        &::after, &::before {
          display: none;
        }

        &[aria-expanded="true"] {
          @include tablet() {
           
            &::before {
              display: block;
              content: "";
              top: 100%;
              left: 25%;
              position: absolute;
              width: 0;
              height: 0;
              border-left: 8px solid transparent;
              border-bottom: 12px solid #F5F5F5;
              border-right: 8px solid transparent;
            }
          }
        }
      }

      .dropdown-menu {
        display: none;
        position: fixed !important;
        top: 48px !important;
        left: 0;
        width: 100%;
        padding: 5px 15px !important;
        height: 40px !important;
        transform: none !important;
        margin-top: 0 !important;
        background: #F5F5F5;
        border: none;
        .list-lag-mb{
          height: 100%;
          .item{
            a{
              padding:0 10px ;
              font-weight: 300;
              font-size: 12px;
              color: $yellow;
            }
            &:not(:first-child) a{
              border-left: 1px solid currentColor;
              padding-right: 0;
            }
          }
        }
      }

      @include tablet() {
        .dropdown-menu.show {
          display: block;
        }
      }

      .list-lag {
        padding-left: 15px;
        list-style: none;
        display: flex;
        margin-bottom: 0;
        @include mobile() {
          padding-left: 0;
          height: 24px;
          line-height: 24px;
        }

        .item {
          display: inline-block;
          margin: 0 5px;
          color: $primary;

          a {
            color: $primary;
            font-size: 11px;
            text-decoration: none;

          }

          @include tablet() {
            &:not(.active) {
              display: none;
            }
          }
          @media (max-width: 576px) {
            margin-right: 0;
            a {
              font-size: 9px;
            }
          }

          &.active {
            a {
              color: $yellow;
            }

          }
        }
      }
    }

    .frm-search {
      margin-left: auto;
      position: relative;
      width: 140px;
      height: 20px;

      .dropdown-toggle {
        height: 100%;

        &::after, &::before {
          display: none;
        }

        &[aria-expanded="true"] {
          @include tablet() {
            &::before {
              display: block;
              content: "";
              top: 100%;
              left: 50%;
              transform: translateX(-50%);
              position: absolute;
              width: 0;
              height: 0;
              border-left: 8px solid transparent;
              border-bottom: 12px solid #F5F5F5;
              border-right: 8px solid transparent;
            }
          }
        }
      }

      .dropdown-menu {
        display: none;
        position: fixed !important;
        top: 48px !important;
        left: 0;
        width: 100%;
        padding: 5px 15px !important;
        height: 40px !important;
        transform: none !important;
        margin-top: 0 !important;
        background: #F5F5F5;
        border: none;

        .form--search {
          background: $white;
          position: relative;
          -webkit-border-radius: 40px;
          -moz-border-radius: 40px;
          border-radius: 40px;
          height: 100%;
          overflow: hidden;

          input {
            height: 100%;
            border-radius: 40px !important;
            border: none;
            width: 100%;
            outline: none;
            display: block;
            padding-left: 15px;
            padding-right: 30px;
            font-size: 14px;
          }

          .btn-search {
            position: absolute;
            right: 2px;
            top: 50%;
            transform: translateY(-50%);
            background: none !important;
          }
        }
      }

      @include tablet() {
        width: 24px;
        height: 24px;
        .dropdown-menu.show {
          display: block;
        }
      }

      .txt-search {
        height: 20px;
        border-radius: 20px;
        border: 1px solid $primary;
        width: 20px;
        padding: 0;
        line-height: 20px;
        position: absolute;
        right: 0;
        transition: width .3s linear;

        &.active {
          width: 140px;

          padding: 0 25px 0 10px;
          transition: width .3s linear;
        }

        &:focus {
          outline: none;
        }
      }

      .btn-search {
        &:focus {
          outline: none;
        }

        position: absolute;
        right: 0;
        top: 0;
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        border: 0;
        padding: 0;
        border-radius: 50%;
        background: #8C8C8A url(../img/icon-search.svg) center no-repeat;
        color: $white;

        &:hover {
          background-color: $yellow;
        }
      }

      @include tablet() {
        .btn-search {
          width: 24px;
          height: 24px;
          line-height: 24px;
        }
      }
    }
  }
}

.header {
  display: flex;
  max-width: 100vw;
  height: 100px;

  &__right {
    margin-left: auto;
    display: flex;
    margin-top: 59px;
  }

  @include tablet() {
    height: 48px;
    .logo {
      padding: 6px 0 !important;
      margin-right: 0 !important;
      width: 45px;
      height: 48px;
    }
    .nav-item {
      height: 48px;
      line-height: 48px;
    }
    .nav-links {
      font-size: 10px;

    }
    &__right {
      margin-left: auto;
      display: flex;
      align-items: center;
      margin-top: 0;
    }
  }
}
