/* Error: Undefined mixin.
 *   ,
 * 3 | /   @include tablet() {
 * 4 | |     margin: 0;
 * 5 | \   }
 *   '
 *   scss/pages/index.scss 3:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 3 \2502  \250c    @include tablet() {\a 4 \2502  \2502      margin: 0;\a 5 \2502  \2514    }\a   \2575 \a   scss/pages/index.scss 3:3  root stylesheet";
}
