/* Error: Undefined mixin.
 *    ,
 * 19 | /         @include mobile(){
 * 20 | |           display: none;
 * 21 | \         }
 *    '
 *   scss/pages/news.scss 19:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 19 \2502  \250c          @include mobile(){\a 20 \2502  \2502            display: none;\a 21 \2502  \2514          }\a    \2575 \a   scss/pages/news.scss 19:9  root stylesheet";
}
