/* Error: Undefined variable.
 *    ,
 * 28 |     color: $yellow;
 *    |            ^^^^^^^
 *    '
 *   scss/pages/profile.scss 28:12  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 28 \2502      color: $yellow;\a    \2502             ^^^^^^^\a    \2575 \a   scss/pages/profile.scss 28:12  root stylesheet";
}
