/* Error: Undefined variable.
 *   ,
 * 2 |   color: $home;
 *   |          ^^^^^
 *   '
 *   scss/pages/services.scss 2:10  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 2 \2502    color: $home;\a   \2502           ^^^^^\a   \2575 \a   scss/pages/services.scss 2:10  root stylesheet";
}
