.services-page {
  color: $home;
  padding-bottom: 70px;
  @include mobile(){
    .services__full-width{
      width: 100vw;
    }
    .services__right{
      padding: 0;
    }
  }
  @media (min-width: 991px) {
    padding-bottom: 0;
    height: calc(100vh - 100px);
  }
  @extend .blue-background;
  .services--wrapper{
    display: flex;
    flex-direction: column;
  }
  .icon-profit-blue {
    background-image: url(../img/icon-profit-blue.svg);
    width: 42px;
    height: 42px;
  }
  .swiper-button-prev,.swiper-button-next{
    position: absolute;
    top: 50%;
    left: 15px;

    outline: none;
    box-shadow: none;
    z-index: 2;
    @include mobile(){
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
    }
    &.swiper-button-disabled{
      opacity: .5;
    }
  }
  .swiper-button-next{
    left: unset;
    right: 15px;
    @include mobile(){
      right: 10px;
    }
  }
  .swiper-overlay{
    margin-top: 15px;
    @media (min-width: 768px) and (max-width: 1200px){
      margin: 15px 40px 0;
    }
  }
  .services__right{
      @include tablet(){
        order: -1;
        margin-bottom: 30px;
        .swiper-services-page{
          padding: 0 100px;
        }
      }
    @media (max-width: 576px) {
      .swiper-services-page{
        padding: 0 70px;
      }
    }
  }
  .services__left{
    $bdrs: 20px;
    .content {
      overflow: hidden;
      height: 0;
      visibility: hidden;

      flex: 1;
      .layer-title{
        height: 100%;
        border-radius: $bdrs;
        background: $floral_white;
        padding: 15px;
        margin: 0 0 0 15px;
      }
      .des {
        position: relative;
        left: -30px;
        top: 15px;
        background: $yellow;
        display: flex;
        height: 100px;
        width: 347px;
        margin-bottom: 35px;
        transform: translateY(50px);
        opacity: 0;
        transition: .5s ease;
        @include mobile() {
          width: 315px;
          height: 64px;
          strong {
            font-size: 20px;
          }
        }
        -webkit-border-radius: 0 12px 12px 0;
        -moz-border-radius: 0 12px 12px 0;
        border-radius: 0 12px 12px 0;

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: 15px solid #828282;
          border-left: 15px solid transparent;
          bottom: -15px;
          left: 0;
          z-index: 1;
        }

        i, svg {
          margin-right: 15px;
          transform: translateY(40px);
          opacity: 0;
          transition: .5s ease .5s;
        }

        strong {
          font-size: 24px;
          text-transform: uppercase;
          line-height: 1.2;
        }

        p {
          text-transform: uppercase;
          font-size: 14px;
          margin-bottom: 0;
          color: rgba($home, .5);
        }
      }
      .scroll{
        transform: translateY(50px);
        opacity: 0;
        transition: .5s ease .3s;
        position: relative;
      }
      &.active{
        height: 375px;
        @include tablet(){
          height: 100%;
        }
        visibility: visible;
        .des svg,.des i{
          transform: translateY(0);
          opacity: 1;
        }
        .des,.scroll{
          transform: translateY(0);
          opacity: 1;

        }
      }
    }
  }
  .swiper-services-page{
    padding-right: 70px;
    &.swiper-container-3d .swiper-slide-shadow-left, &.swiper-container-3d .swiper-slide-shadow-right{
      background: transparent;
    }
    .item-service {
      display: flex;
      $bdrs: 20px;
      outline: none;
      -webkit-border-radius: $bdrs;
      -moz-border-radius: $bdrs;
      border-radius: $bdrs;
      background: transparent!important;
      overflow: hidden;
      @include mobile(){
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
      }
      img{
        width: 100%;
        height: 375px;
        transition: .4s linear;
        filter:brightness(.5);
        @include tablet(){
          height: 300px;
        }
        @media (max-width: 576px) {
          height: 169px;
        }
      }
      &.swiper-slide-active{
        img{
          filter:brightness(1);
        }
      }
    }
  }
  .swiper-services-thumb-page {
    max-width: 350px;
    margin: 0;
    @include mobile(){
      max-width: 350px;
      margin: 15px auto;
    }
    .swiper-wrapper {
      justify-content: space-between;
    }

    .swiper-slide {
      width: 32px !important;
      margin: 0 12px;
      cursor: pointer;

      &.swiper-slide-thumb-active {
        svg {
          color: $yellow;
        }
      }
    }
  }
  .list--service {
    display: flex;
    justify-content: center;
    @include mobile(){
      justify-content: space-between;
      width: 100%;
    }
    .icon {
      margin: 0 10px;
      width: 30px;
      height: 30px;
    }
  }
}
