.portfolio-page{
  @extend .light-background;
  .grid--projects{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-auto-rows: 176px;
    grid-gap: 8px;
    .project:first-child{
      grid-area: 1 / 1 / span 3 / span 9;
      .swiper-project-first{
        height: 100%;
      }
      .swiper-pagination{
        position: absolute;
        bottom: 15px;
        right: 15px;
        z-index: 2;
        @include mobile(){
          display: none;
        }
      }
      .project__title{
        font-size: 36px;
        line-height: 50px;
      }
      .project__des{
        font-size: 16px;
        line-height: 34px;
        margin-bottom: 7px;
      }
    }
    .project{
      grid-column: span 3;
    }
    @include tablet(){
      .project:first-child {
        grid-area: 1 / 1 / span 2 / span 12;
      }
      .project{
        grid-column: span 4;
      }
    }
    @media (max-width: 768px) {
      grid-auto-rows: 120px;
      .project:first-child{
        .project__title{
          font-size: 18px;
          line-height: 1.2;
        }
        .project__des{
          display: block;
          line-height: 18px;
          margin-bottom: 5px;
        }
      }
      .project:not(:first-child){
        .project__content{
          height: 100%;
          top: 0;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .project__title{
          font-size: 12px;
          line-height: 1.2;
        }
        .project__des{
          display: none;
        }
      }
    }
    @media (max-width: 476px) {
      grid-auto-rows:100px 100px 70px;
    }
  }
  .project{
    position: relative;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow: hidden;
    &__img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;

    }
    &__content{
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1;
      top: 10.33%;
      bottom: 0;
      background: linear-gradient(360deg, #192E40 -4.71%, rgba(25, 46, 64, 0) 84.11%);
      border-radius: 8px;
      padding:8px 19px;
      flex-direction: column;
      display: flex;
      justify-content: flex-end;
    }
    &__title{
      font-weight: bold;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */

      text-transform: uppercase;

      /* 02 */

      color: #E1BA84;
    }
    &__des{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      /* identical to box height, or 175% */


      /* F3F3F3 */

      color: #F3F3F3;
    }
  }
  .portfolio__mid{
    .form--search{
      background: $white;
      border-radius: 40px;
      position: relative;
      width: 120px;
      .btn-search{
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translateY(-50%);
        background-color:transparent ;
      }
    }
    .frm-right{
      flex-grow: 1;
      @include tablet(){
        flex-direction: column;
        .form--search{
          background: $white;
          border-radius: 40px;
          position: relative;
          width: 100%;
          height: 32px;
          margin-bottom: 15px;
          input{
            display: block;
            outline: none;
            position: relative;
            width: 100%;
            height: 100%;
            border: none;
            &:focus,&:active{
              outline: none;
              box-shadow: none;
            }
            border-radius: 40px;
          }
          .btn-search{
            position: absolute;
            width: 30px;
            height: 30px;
            right: 2px;
            top: 50%;
            transform: translateY(-50%);
            background-color:transparent ;
          }
        }
      }
    }
    .list--filter{
      max-width: 100%;
      overflow-x: auto;
      .item{
        line-height: 1;
        text-align: center;
        /* xam xanh */
        padding:7px 20px;
        font-size: 11px;
        &:hover,&.active{
          background-color: $yellow;
        }
        /* Home 4 Colors */

        color: #192E40;
        background: #D3DDE3;
        border-radius: 4px;
        white-space: nowrap;
        margin: 0 8px;
      }
    }
    .form--search{
      display: flex;
      align-items: center;
      justify-content: center;
      .btn-search{
        width: 22px;
        height: 22px;
        text-align: center;
        line-height: 22px;
        display: inline-block;
        border: 0;
        padding: 0;
        margin-right: 8px;
        border-radius: 50%;
        background: #D3DDE3 url(../../img/projects/search.png) center no-repeat;
      }
      input{
        display: none;
        margin-right: 30px;
      }
    }
  }
  .portfolio__bottom{
    .project{
      @include mobile(){
        height: 140px;
      }
    }
    .project__content{
      padding: 22px   29px;
      top: 0;
      .project__des {
        height: 0;
        overflow: hidden;
        transition:height .5s ease-in;
      }
      @include mobile(){
        display: flex;
        flex-direction: row;
        justify-content: space-between;align-items: flex-end;
        .project__des{
          height: auto!important;
          .more .read-more{
            margin-right: 0;
          }
          .more .text{
            display: none;
          }
        }
        .info-list{
          display: none;
        }
      }
    }
    .project:hover{
      .project__des {
        height: 100%;
      }
    }
    .info-list{
      margin: 15px 0;
    }
    .more {
      color: $yellow;
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: 12px;
      .read-more {
        width: 24px;
        margin-right: 10px;
        height: 24px;
        background: url("../../img/projects/readmore.svg") 100% 100% no-repeat;
      }
    }
  }
  .map--projects{
    .list-left{
      display: flex;
      flex-direction: column;
      padding: 0 70px;
      @include tablet(){
        padding-left: 0;
      }
      @include mobile(){
        padding-right: 20px;
      }
      justify-content: space-around;
      .item{
        text-align: center;
        &:hover{
          .des{
            color: #E1BA84;
          }
        }
        img{
          width: 35px;
          height: 35px;
          margin-bottom: 10px;
        }
        .des{
          color: #5E788F;
          span{
            font-size: 36px;
            line-height: 100%;
            /* identical to box height, or 36px */
            font-weight: 700;
            text-align: center;

            /* 02 */
          }
          small{
            font-weight: 700;
            font-size: 18px;
          }
        }
      }
    }
    .map-info{
      margin-top: 70px;
      @include tablet(){
        text-align: center;
      }
      img{
        width: 90.67px;
        height: 76px;
        margin-bottom: 40px;
      }
      p{
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        /* or 175% */
        margin-bottom: 40px;
        letter-spacing: 0.015em;

        color: #5E788F;
      }
    }
  }
}
