.services-page {
  color: $home;
  padding-bottom: 70px;
  @media (min-width: 991px) {
    padding-bottom: 0;
    height: calc(100vh - 100px);
  }
  @extend .blue-background;
  .services--wrapper{
    display: flex;
    flex-direction: column;
  }
  .icon-profit-blue {
    background-image: url(../../img/icon-profit-blue.svg);
    width: 42px;
    height: 42px;
  }
  .swiper-button-prev,.swiper-button-next{
    position: absolute;
    top: 50%;
    left: -40px;
    outline: none;
    box-shadow: none;
    z-index: 2;
    @include mobile(){
      top: calc( 169px / 2 - 21px);
      left: 0;
    }
    &.swiper-button-disabled{
      opacity: .5;
    }
  }
  .swiper-button-next{
    left: unset;
    right: -40px;
    @include mobile(){
      right: 0;
    }
  }
  .swiper-overlay{
    margin-top: 15px;
    @media (min-width: 768px) and (max-width: 1200px){
      margin: 15px 40px 0;
    }
  }
  .swiper-services-page{
    .item-service {
      display: flex;
      $bdrs: 20px;
      padding: 0 15px;
      outline: none;

      .des{
        position: relative;
        left: -30px;
        background: $yellow;
        display: flex;
        height: 100px;
        width: 347px;
        @include mobile(){
          width: 315px;
          height: 64px;
          strong{
            font-size: 20px;
          }
        }
        margin-bottom: 15px;
        -webkit-border-radius: 0 12px 12px 0;
        -moz-border-radius: 0 12px 12px 0;
        border-radius: 0 12px 12px 0;
        &::after{
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-top: 15px solid #828282;
          border-left: 15px solid transparent;
          bottom: -15px;
          left: 0;
          z-index: 1;
        }
        i,svg{
          margin-right: 15px;
        }
        strong{
          font-size: 24px;
          text-transform: uppercase;
          line-height: 1.2;
        }
        p{
          text-transform: uppercase;
          font-size: 14px;
          margin-bottom: 0;
          color: rgba($home,.5);
        }
      }
      .left, .right {
        margin: 0 15px;
        flex: 1;
        height: 375px;
        max-width: 50%;
        border-radius: $bdrs;
        background: $floral_white;
      }
      .right {
        margin-right: 0;
        img {
          width: 100%;
          height: 100%;
          -webkit-border-radius: $bdrs;
          -moz-border-radius: $bdrs;
          border-radius: $bdrs;
        }
      }
      .left{
        padding:25px 15px;
      }
      @include tablet(){
        flex-direction: column;
        padding: 0;
        .left,.right{
          flex:0 0 100%!important;
          max-width: 100%!important;
        }
        .left{
          margin-top: 25px;
          margin-right: 0;
        }
        .right{
          width: 213px;
          height: 169px;
          margin: auto;
          order: -1;
        }
      }
    }
  }
  .swiper-services-thumb-page {
    max-width: 350px;
    margin: 0;
    @include mobile(){
      max-width: 350px;
      margin: 15px auto;
    }
    .swiper-wrapper {
      justify-content: space-between;
    }

    .swiper-slide {
      width: 32px !important;
      margin: 0 12px;
      cursor: pointer;

      &.swiper-slide-thumb-active {
        svg {
          color: $yellow;
        }
      }
    }
  }
  .list--service {
    display: flex;
    justify-content: center;
    @include mobile(){
      justify-content: space-between;
      width: 100%;
    }
    .icon {
      margin: 0 10px;
      width: 30px;
      height: 30px;
    }
  }
}
